body {
	background-color: yellow;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	height: 100vh;
}

h1 {
	font-size: 60px;
	text-align: center;
	font-family: cursive, sans-serif;
	font-weight: bold;
}