body {
	height: 100vh;
	background-color: yellow;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.title {
	padding: 30px;
	border: 5px solid #000;
}

h1 {
	font-size: 60px;
	text-align: center;
	font-family: cursive, sans-serif;
}